.app {
  margin: auto;
}

.header {
  margin: auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-style: italic;
  color: #373fff;
}

input {
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
  border: 1.4px solid #689e74;
  width: 100%;
  margin-bottom: 40px;
}

.formulaView {
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.footer {
  position: fixed;
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  color: #d65b84;
}

.footer > p > a {
  color: #a34cd6;
}